body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type="text"] {
    font-size: 15px;
    font-weight: bolder;
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    text-align: left;
}

.result img {
    max-width: 100%;
}

.add-medicine-form {
    display: none;
    text-align: left;
}

.add-medicine-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-medicine-form .button-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
